<mat-toolbar color="primary">
  <span class="toolbar-title">Task Manager</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!isAuthenticated(); else loggedIn">
    <a mat-button routerLink="/auth/login">Login</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/auth/register">Register</a>
  </ng-container>
  <ng-template #loggedIn>
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/tasks">Tasks</a>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">Logout</button>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
